body{
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
}

.logotype {
  width: 20%;

}

.icon-logo {
  width: 3%;
}

.W-name {
  width: 20%;
}

.App-header {
  padding: 7px;
}

.form-control {
  width: 20px;
}

.food-image{
  width:50%;
}

table {
  margin-right: 20px;
  padding: 0px;
  border: none;
  border-radius: 14px;
}

.cursor {
  cursor: pointer;
}

.table td {
  vertical-align: inherit;
}

.card {
  width: 20px;
}

.logOut {
  width: 13%;
  z-index: 100;
  position: absolute;
  text-align: right;
  border: 0px;
  left: 85%;
  top: 4%;
}