body{
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
}

.logotype{
  width: 20%;

}

.icon-logo {
  width: 3%;
}

.App-header {
  padding: 7px;
}

table {
  margin-right: 20px;
  padding: 0px;
  border: none;
  border-radius: 14px;
}

.cursor {
  cursor: pointer;
}

.table td {
  vertical-align: inherit;
}
